@(editForm: play.data.Form[models.file.UploadedFile],
	file: models.file.UploadedFile)

@import helper._
@import helpers.BootstrapHelper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@main(
	if(file != null)
		Messages("nav.file.edit", if(editForm("originalName").value != null) editForm("originalName").value else editForm("name").value)
		else "nav.file.create"
) {

@helper.form(if(file != null) routes.FileController.doEdit(file.id) else routes.FileController.doCreate, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@views.html.bootstrap.inputText(
		field = editForm("name"),
		'_label -> "label.name"
	)

	@inputFile(
		field = editForm("uploadedFile"),
		'_label -> "label.file"
	)

	@_submit(if(file != null) "label.save" else "label.create")

}

@if(file != null && file.isImage && file.preview.exists) {
	<div style="margin-top: 20px">
		<b>@Messages("label.file.preview")</b><br /><br />
		<img src="@routes.FileController.preview(file.id)" />
	</div>
}

}