@(files: List[models.file.UploadedFile])

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.ViewSupport._
@import views.menu.SystemMenu._

@implicitScripts = {
	@_css("stylesheets/tablesorter/theme.bootstrap.css")
	@_js("javascripts/jquery.tablesorter.min.js")
	@_js("javascripts/jquery.tablesorter.pager.min.js")
	@_js("javascripts/jquery.tablesorter.widgets.min.js")
	@_js("javascripts/tables.js")
}

@main(
	"nav.file.list"
) {

@if(!files.isEmpty) {
	<table class="table table-striped js-tablesorter">
		<thead>
			<th>@Messages("label.name")</th>
			<th>@Messages("label.created")</th>
			<th>@Messages("label.modifed")</th>
			<th>@Messages("label.file.type")</th>
			@restrict(la(as("admin"))) {
				<th class="sorter-false filter-false">@Messages("label.action")</th>
			}
		</thead>
		<tbody>
			@for(file <- files) {
				<tr data-id="@file.id">
					<td>@file.name</td>
					<td>@Formatters.print(file.created)</td>
					<td>@Formatters.print(file.updated)</td>
					<td>@file.mime</td>
					@restrict(la(as("admin"))) {
					<td>
							<a class="btn btn-default btn-xs" href='@{routes.FileController.edit(file)}' title="@Messages("label.do.edit")">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
									data-action="remove"
									data-method="POST"
									data-url="@routes.FileController.remove(file)"
									data-confirm="@Messages("label.are.you.sure.you.want.to.delete", file.name)">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
					</td>
					}
				</tr>
			}
		</tbody>
	</table>
} else {
	@_foundNoneOf(classOf[models.file.UploadedFile])
}

@restrict(la(as("admin"))) {
	@_btn(routes.FileController.add, "label.do.add")
}

}