@(editForm: play.data.Form[models.event.GrandEvent],
	event: models.event.GrandEvent,
	organizations: List[models.organization.Organization],
	tags: List[models.event.tag.EventTag])

@import scala.collection.mutable.LinkedHashMap
@import helpers.BootstrapHelper._
@import views.menu.EventMenu._

@implicitScripts = {
	@_css("lib/bootstrap-datepicker/css/datepicker3.css")
	@_js("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")
	@_js("lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js")
	<script>
		$(document).ready(function() {
			$("#startDate").datepicker(app.settings.bootstrapDatepicker);
			$("#endDate").datepicker(app.settings.bootstrapDatepicker);
		});
	</script>
}

@main(
	if(event != null)
		"nav.event.grand.edit"
	else
		"nav.event.grand.add",
	breadcrumbs = LinkedHashMap(
		"nav.event.grand.list" -> routes.GrandEventController.list,
		if (event != null) editForm("name").value -> routes.GrandEventController.edit(event)
		else "nav.event.grand.add" -> routes.GrandEventController.add
	)
) {

@form(if(event != null) routes.GrandEventController.doEdit(event) else routes.GrandEventController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(event != null) {
		@_staticFormField("label.created", Formatters.print(event.created))
		@_staticFormField("label.updated", Formatters.print(event.updated))
		@_staticFormField("label.author", event.author.nick)
	}

	@inputText(
		field = editForm("name"),
		'_label -> "label.name",
		'required -> true
	)

	@textarea(
		field = editForm("description"),
		args = 'rows -> 3, 'cols -> 50,
		'_label -> "label.description",
		'required -> true
	)

	@inputText(
		field = editForm("startDate"),
		args = 'required -> true,
		'_label -> "label.start.date"
	)

	@inputText(
		field = editForm("endDate"),
		args = 'required -> true,
		'_label -> "label.end.date"
	)

	@select(
		field = editForm("tags"),
		'options -> tags.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.tags",
		'multiple -> true
	)

	@select(
		field = editForm("organizations"),
		'options -> organizations.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.organizations",
		'multiple -> true
	)

	@_submit(if(event != null) "label.save" else "label.add")

}

}