@(events: List[models.event.GrandEvent])

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.ViewSupport._
@import be.objectify.deadbolt.java.views.html._
@import views.menu.EventMenu._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	@_css("stylesheets/tablesorter/theme.bootstrap.css")
	@_js("javascripts/jquery.tablesorter.min.js")
	@_js("javascripts/jquery.tablesorter.pager.min.js")
	@_js("javascripts/jquery.tablesorter.widgets.min.js")
	@_js("javascripts/tables.js")
	@_css("lib/select2/select2.css")
	@_css("lib/select2/select2-bootstrap.css")
	@_js("lib/select2/select2.min.js")
	@_js("lib/select2/select2_locale_ru.js")
	@_js("javascripts/tablesorter/widget-columnSelector.js")
}

@main(
	"nav.event.grand.list",
	breadcrumbs = LinkedHashMap(
		"nav.event.grand.list" -> routes.GrandEventController.list
	)
) {

@if(!events.isEmpty) {
	<button class="column-selector btn btn-default">@Messages("label.choose.columns")</button>
	<br /><br />
	<table class="events table table-striped js-tablesorter">
		<thead>
			<th>@Messages("label.name")</th>
			<th>@Messages("label.start.date")</th>
			<th>@Messages("label.finish.date")</th>
			<th>@Messages("label.entity.plural.Event")</th>
			<th>@Messages("label.author")</th>
			<th>@Messages("label.organizations")</th>
			<th>@Messages("label.tags")</th>
			<th class="sorter-false filter-false">@Messages("label.action")</th>
		</thead>
		<tbody>
		@for(event <- events) {
			<tr>
				<td>@event.name</td>
				<td>@Formatters.print(event.startDate)</td>
				<td>@Formatters.print(event.endDate)</td>
				<td>@event.events.size</td>
				<td>@event.author.nick</td>
				<td>@play.twirl.api.Html(event.organizations.map(o => "<a href=\"" + routes.OrganizationController.details(o) + "\">" + o.name + "</a>").mkString(", "))</td>
				<td>@event.tags.map(_.name).mkString(", ")</td>
				<td>
					@restrict(la(as("admin"))) {
						<a class="btn btn-default btn-xs" href='@routes.GrandEventController.edit(event)' title="@Messages("label.do.edit")">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
								data-action="remove"
								data-method="POST"
								data-url="@routes.GrandEventController.remove(event)"
								data-confirm="@Messages("label.are.you.sure.you.want.to.delete", event.name)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					}
				</td>
			</tr>
		}
		</tbody>
		<tfoot>
			@_tablePager(columns = 8)
		</tfoot>
	</table>
} else {
	@_foundNoneOf(classOf[models.event.GrandEvent])
}

@restrict(la(as("admin"))) {
	@_btn(routes.GrandEventController.add, "label.do.add")
}
	
}
