@(editForm: play.data.Form[models.event.tag.EventTag],
	tag: models.event.tag.EventTag)

@import helper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@main(
	if(editForm("id").value != null)
		"nav.event.tag.edit"
	else
		"nav.event.tag.create",
	breadcrumbs = LinkedHashMap(
		"nav.event.tag.list" -> routes.EventTagController.list,
		if (editForm("id").value != null) editForm("name").value -> routes.EventTagController.edit(editForm("id").value.toLong)
		else "nav.event.tag.create" -> routes.EventTagController.create
	)
) {

@helper.form(if(editForm("id").value != null) routes.EventTagController.doEdit(editForm("id").value.toLong) else routes.EventTagController.doCreate, 'class -> "form-horizontal") {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(tag != null) {
		@_staticFormField("label.event.count", tag.events.size)
		@_staticFormField("label.grand.event.count", tag.grandEvents.size)
	}

	@inputText(
		field = editForm("name"),
		'_label -> "label.name"
	)(FieldConstructor(views.html.bootstrap.input.f), null)

	@_submit(if(editForm("id").value != null) "label.save" else "label.create")

}

}