@(editForm: play.data.Form[models.event.Event],
	coordsForm: play.data.Form[models.geo.GeoCoords],
	event: models.event.Event,
	grandEvents: List[models.event.GrandEvent],
	tags: List[models.event.tag.EventTag],
	organizations: List[models.organization.Organization],
	countries: List[models.geo.Country])

@import helper._
@import scala.collection.mutable.LinkedHashMap
@import helpers.BootstrapHelper._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	<link href="@routes.Assets.at("stylesheets/fullcalendar.css")" rel="stylesheet">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/fullcalendar/fullcalendar.js")" defer="defer"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/fullcalendar/lang/ru.js")" defer="defer"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/editEvent.js")" defer="defer"></script>
	<script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/knockout/knockout.js")"></script>
	<script>
		var countriesMap = @play.twirl.api.Html(play.libs.Json.toJson(countries).toString());
		var initialCountry@if(coordsForm("country").value != null) { = "@coordsForm("country").value"};
		var initialCity@if(coordsForm("city").value != null) { = "@coordsForm("city").value"};
		var initialLatitude = "@coordsForm("latitude").value";
		var initialLongitude = "@coordsForm("longitude").value";
		var initialTimetable = "@editForm("timetableJson").value";
		var useAuthorContactInfo = @Option(editForm("useAuthorContactInfo").value).getOrElse("true");
	</script>
}

@main(
	if(event != null)
		"nav.event.edit"
	else
		"nav.event.create",
	leftNav = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list
	),
	breadcrumbs = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list,
		if (event != null) editForm("name").value -> routes.EventController.edit(event.id)
		else "nav.event.create" -> routes.EventController.create
	)
) {

@helper.form(if(event != null) routes.EventController.doEdit(event.id) else routes.EventController.doCreate, 'class -> "form-horizontal") {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@play.twirl.api.Html(editForm.globalErrors.map(_.message).mkString("<br />"))</div>
	}

	<input type="hidden" name="latitude" data-bind="value: latitude" />
	<input type="hidden" name="longitude" data-bind="value: longitude" />
	<input type="hidden" name="timetableJson" data-bind="value: timetable" />
	
	@if(event != null) {
		@_staticFormField("label.created", Formatters.print(event.created))
		@_staticFormField("label.updated", Formatters.print(event.updated))
		@_staticFormField("label.author", event.author.nick)
	}

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.general.info.settings")</div>
  		<div class="panel-body">

			@views.html.bootstrap.inputText(
				field = editForm("name"),
				'_label -> "label.label",
				'required -> true
			)

			@views.html.bootstrap.textarea(
				field = editForm("description"),
				args = 'rows -> 3, 'cols -> 50,
				'_label -> "label.description",
				'required -> true
			)

			@select(
				field = editForm("parent"),
				options = grandEvents.map(a => a.id.toString -> a.name).toSeq,
				'_label -> "label.grand.event",
				'class -> "form-control",
				'_default -> Messages("label.none.selected"),
				'help -> Messages("label.event.parent.tip")
			)

			@select(
				field = editForm("tags"),
				options = tags.map(a => a.id.toString -> a.name).toSeq,
				'_label -> "label.tags",
				'multiple -> true,
				'class -> "form-control"
			)

			@select(
				field = editForm("organizations"),
				options = organizations.map(a => a.id.toString -> a.name).toSeq,
				'_label -> "label.organizations",
				'multiple -> true,
				'class -> "form-control"
			)

			@views.html.bootstrap.inputText(
				field = editForm("additionalInfoLink"),
				'_label -> "label.link",
				'help -> "label.event.additional.info.link.tip"
			)

			@views.html.bootstrap.inputText(
				field = editForm("postReleaseLink"),
				'_label -> "label.event.post.release",
				'help -> "label.event.post.release.tip"
			)

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.contact.info.settings")</div>
  		<div class="panel-body">

			@checkbox(
				field = editForm("useAuthorContactInfo"),
				'_label -> "label.event.useAuthorContactInfo",
				Symbol("data-bind") -> "checked: useAuthorContactInfo",
				'help -> "label.event.contactInfo.tip"
			)(FieldConstructor(views.html.bootstrap.checkboxB.f), null)
		
			@views.html.bootstrap.inputText(
				field = editForm("contactName"),
				'_label -> "label.name",
				'dataBind -> "visible: !useAuthorContactInfo()",
				'help -> "label.event.contactName.tip"
			)
		
			<div data-bind="visible: useAuthorContactInfo">
				@_staticFormField("label.name", if(user.name == null || user.name.isEmpty) play.twirl.api.Html("<i>" + Messages("label.not.specified") + "</i>") else user.name)
			</div>
		
			@views.html.bootstrap.inputText(
				field = editForm("contactPhone"),
				'_label -> "label.phone",
				'dataBind -> "visible: !useAuthorContactInfo()"
			)
		
			<div data-bind="visible: useAuthorContactInfo">
				@_staticFormField("label.phone", if(user.phone == null || user.phone.isEmpty) play.twirl.api.Html("<i>" + Messages("label.not.specified") + "</i>") else user.phone)
			</div>

			@views.html.bootstrap.inputText(
				field = editForm("contactProfile"),
				'_label -> "nav.profile",
				'dataBind -> "visible: !useAuthorContactInfo()",
				'help -> "label.profile.tip"
			)
		
			<div data-bind="visible: useAuthorContactInfo">
				@_staticFormField("label.profile", if(user.profileLink == null || user.profileLink.isEmpty) play.twirl.api.Html("<i>" + Messages("label.not.specified") + "</i>") else user.profileLink)
			</div>

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.geo.settings")</div>
  		<div class="panel-body">

			@select(
				field = coordsForm("country"),
				options = Seq.empty[(String, String)],
				'_label -> "label.country",
				'class -> "form-control",
				'_default -> Messages("label.none.selected"),
				Symbol("data-bind") -> ("options: availableCountries, " +
					"optionsText: function(item) {return item.name + ' (" + Messages("label.country.with.cities.count") + ": ' + item.cities.length + ')'}, " + 
					"optionsValue: 'id', " + 
					"value: selectedCountry, " +
					"optionsCaption: '" + Messages("label.none.selected") + "', " +
					"multiselect: true"),
				'required -> true
			)
		
			@select(
				field = coordsForm("city"),
				options = Seq.empty[(String, String)],
				'_label -> "label.city",
				'class -> "form-control",
				'_default -> Messages("label.none.selected"),
				'dataBind -> "visible: selectedCountry",
				Symbol("data-bind") -> ("options: availableCities, "+
					"optionsText: 'name', " +
					"optionsValue: 'id', " +
					"value: selectedCity, " +
					"optionsCaption: '" + Messages("label.none.selected") + "', " +
					"multiselect: true"),
				'required -> true
			)
		
			<br />
			<div id="map" style="width: 100%; height: 400px;"></div>

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.program.settings")</div>
  		<div class="panel-body">

			<div id='calendar'></div>

		</div>
	</div>

	<br /><br />
	@_submit(if(event != null) {"label.save"} else {"label.create"})

}

}