@(editForm: play.data.Form[controllers.EventTagController.EventTagProps],
	tag: models.event.tag.EventTag)

@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._
@import helpers.BootstrapHelper._

@main(
	if(tag != null)
		"nav.event.tag.edit"
	else
		"nav.event.tag.add",
	breadcrumbs = LinkedHashMap(
		"nav.event.tag.list" -> routes.EventTagController.list,
		if (tag != null) tag.name -> routes.EventTagController.edit(tag)
		else "nav.event.tag.add" -> routes.EventTagController.add
	)
) {

@form(if(tag != null) routes.EventTagController.doEdit(tag) else routes.EventTagController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(tag != null) {
		@_staticFormField("label.event.count", tag.events.size)
		@_staticFormField("label.grand.event.count", tag.grandEvents.size)
	}

	@inputText(
		field = editForm("name"),
		'_label -> "label.name",
		'required -> true
	)

	@_submit(if(tag != null) "label.save" else "label.add")

}

}