@(editForm: play.data.Form[controllers.EventController.EventProps],
	event: models.event.Event,
	//grandEvents: List[models.event.GrandEvent],
	tags: List[models.event.tag.EventTag],
	organizations: List[models.organization.Organization],
	countries: List[models.geo.Country])

@import scala.collection.mutable.LinkedHashMap
@import helpers.BootstrapHelper._
@import views.menu.EventMenu._
@import play.twirl.api.Html

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	@_js("javascripts/editEvent.js")
	@_maps()
	@_css("stylesheets/bootstrapValidator.css")
	@_js("javascripts/bootstrapValidator.js")
	@_cssWebJars("bootstrap-datepicker3.css")
	@_js("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")
	@_js("lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js")

	<script>
		var useAuthorContactInfo = @Option(editForm("useAuthorContactInfo").value).getOrElse("true");
		var moreGeneralSettings = @Option(editForm("moreGeneralSettings").value).getOrElse("false");
		var useContactInfo = @Option(editForm("useContactInfo").value).getOrElse("false");
		var extendedGeoSettings = @Option(editForm("extendedGeoSettings").value).getOrElse("false");
		var geoPoints = @if(event!=null) {@Html(play.libs.Json.toJson(event.coords).toString())} else {[]};
		$(document).ready(function() {
			$("#startDate").datepicker(app.settings.bootstrapDatepicker);
			$("#finishDate").datepicker(app.settings.bootstrapDatepicker);
		});
	</script>
}

@main(
	if(event != null)
		"nav.event.edit"
	else
		"nav.event.add",
	breadcrumbs = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list,
		if (event != null) editForm("name").value -> routes.EventController.edit(event)
		else "nav.event.add" -> routes.EventController.add
	)
) {

@form(if(event != null) routes.EventController.doEdit(event) else routes.EventController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@Html(editForm.globalErrors.map(_.message).mkString("<br />"))</div>
	}

	@if(event != null) {
		@_staticFormField("label.created", Formatters.print(event.created))
		@_staticFormField("label.updated", Formatters.print(event.updated))
		@_staticFormField("label.author", event.author.name)
	}

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.general.info.settings")</div>
  		<div class="panel-body">

			<input type="hidden" name="geoPoints" data-bind="value: JSON.stringify(points())" />
			@inputText(
				field = editForm("name"),
				'_label -> "label.label"
			)

			@textarea(
				field = editForm("description"),
				args = 'rows -> 3, 'cols -> 50,
				'_label -> "label.description"
			)

			@select(
				field = editForm("tags"),
				'options -> tags.map(a => a.id.toString -> a.name).toSeq,
				'_label -> "label.tags",
				'multiple -> true
			)

			@inputText(
				field = editForm("additionalInfoLink"),
				'_label -> "label.link",
				'help -> "label.event.additional.info.link.tip"
			)

			@checkbox(
				field = editForm("moreGeneralSettings"),
				'_text -> "label.event.moreGeneralSettings",
				Symbol("data-bind") -> "checked: moreGeneralSettings"
			)

			@*
			@select(
				field = editForm("parent"),
				'options -> grandEvents.map(a => a.id.toString -> a.name).toSeq,
				'_label -> "label.grand.event",
				'help -> "label.event.parent.tip",
				'dataBind -> "visible: moreGeneralSettings()"
			)
			*@

			@select(
				field = editForm("organizations"),
				'options -> organizations.map(a => a.id.toString -> a.name).toSeq,
				'_label -> "label.organizations",
				'multiple -> true,
				'dataBind -> "visible: moreGeneralSettings()"
			)

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.time.info.settings")</div>
  		<div class="panel-body">

			@inputText(
				field = editForm("startDate"),
				'_label -> "label.start.date"
			)

			@inputText(
				field = editForm("startTime"),
				'_label -> "label.start.time"
			)

			@inputText(
				field = editForm("finishDate"),
				'_label -> "label.finish.date"
			)

			@inputText(
				field = editForm("finishTime"),
				'_label -> "label.finish.time"
			)

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.contact.info.settings")</div>
  		<div class="panel-body">

			@checkbox(
				field = editForm("useContactInfo"),
				'_text -> "label.event.useContactInfo",
				Symbol("data-bind") -> "checked: useContactInfo",
				'help -> "label.event.useContactInfo.tip"
			)
		
			@checkbox(
				field = editForm("useAuthorContactInfo"),
				'_text -> "label.event.useAuthorContactInfo",
				Symbol("data-bind") -> "checked: useAuthorContactInfo",
				'help -> "label.event.contactInfo.tip",
				'dataBind -> "visible: useContactInfo()"
			)
		
			@inputText(
				field = editForm("contactName"),
				'_label -> "label.name",
				'dataBind -> "visible: useContactInfo() && !useAuthorContactInfo()",
				'help -> "label.event.contactName.tip"
			)
		
			<div data-bind="visible: useContactInfo() && useAuthorContactInfo()">
				@_staticFormField("label.name", if(user.name == null || user.name.isEmpty) Html("<i>" + Messages("label.not.specified") + "</i>") else user.name)
			</div>
		
			@inputText(
				field = editForm("contactPhone"),
				'_label -> "label.phone",
				'dataBind -> "visible: useContactInfo() && !useAuthorContactInfo()"
			)
		
			<div data-bind="visible: useContactInfo() && useAuthorContactInfo()">
				@_staticFormField("label.phone", if(user.phone == null || user.phone.isEmpty) Html("<i>" + Messages("label.not.specified") + "</i>") else user.phone)
			</div>

			@inputText(
				field = editForm("contactProfile"),
				'_label -> "nav.profile",
				'dataBind -> "visible:  useContactInfo() && !useAuthorContactInfo()",
				'help -> "label.profile.tip"
			)
		
			<div data-bind="visible:  useContactInfo() && useAuthorContactInfo()">
				@_staticFormField("label.profile", if(user.profileLink == null || user.profileLink.isEmpty) Html("<i>" + Messages("label.not.specified") + "</i>") else user.profileLink)
			</div>

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">@Messages("label.event.geo.settings")</div>
  		<div class="panel-body">

			@_countryCityKnockoutInputs(countries, editForm)
		
			@checkbox(
				field = editForm("extendedGeoSettings"),
				'_text -> "label.event.extendedGeoSettings",
				Symbol("data-bind") -> "checked: extendedGeoSettings",
				'dataBind -> "visible: countryCity.selectedCountry() && countryCity.selectedCity()",
				'help -> "label.event.extendedGeoSettings.tip"
			)

			@inputText(
				field = editForm("address"),
				'_label -> "label.event.address",
				'dataBind -> "visible: !extendedGeoSettings() && countryCity.selectedCountry() && countryCity.selectedCity()",
				'help -> "label.event.address.tip"
			)

			<div id="map" style="width: 100%; height: 400px;"
				data-bind="visible: extendedGeoSettings() && countryCity.selectedCountry() && countryCity.selectedCity()"></div>

		</div>
	</div>

	@_submit(if(event != null) "label.save" else "label.create")

}

}