@(editForm: play.data.Form[models.event.Event],
	coordsForm: play.data.Form[models.geo.GeoCoords],
	event: models.event.Event,
	grandEvents: List[models.event.GrandEvent],
	tags: List[models.event.tag.EventTag],
	organizations: List[models.organization.Organization],
	countries: List[models.geo.Country])

@import helper._
@import scala.collection.mutable.LinkedHashMap

@implicitScripts = {
	<link href="@routes.Assets.at("stylesheets/fullcalendar.css")" rel="stylesheet">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/fullcalendar/fullcalendar.js")" defer="defer"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/fullcalendar/lang/ru.js")" defer="defer"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/editEvent.js")" defer="defer"></script>
	<script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/knockout/knockout.js")"></script>
	<script>
		var countriesMap = @Html(play.libs.Json.toJson(countries).toString());
		var initialCountry@if(coordsForm("country").value != null) { = "@coordsForm("country").value"};
		var initialCity@if(coordsForm("city").value != null) { = "@coordsForm("city").value"};
		var initialLatitude = "@coordsForm("latitude").value";
		var initialLongitude = "@coordsForm("longitude").value";
		var initialTimetable = "@editForm("timetableJson").value";
	</script>
}

@main(
	if(event != null)
		"nav.event.edit"
	else
		"nav.event.create",
	leftNav = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list
	),
	breadcrumbs = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list,
		if (event != null) editForm("name").value -> routes.EventController.edit(event.id)
		else "nav.event.create" -> routes.EventController.create
	)
) {

@helper.form(if(event != null) routes.EventController.doEdit(event.id) else routes.EventController.doCreate, 'class -> "form-horizontal") {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	<input type="hidden" name="latitude" data-bind="value: latitude" />
	<input type="hidden" name="longitude" data-bind="value: longitude" />
	<input type="hidden" name="timetableJson" data-bind="value: timetable" />
	
	@if(event != null) {
		@_staticFormField("label.created", Formatters.print(event.created))
		@_staticFormField("label.updated", Formatters.print(event.updated))
		@_staticFormField("label.author", event.author.nick)
	}

	
	@inputText(
		field = editForm("name"),
		'_label -> "label.name"
	)(FieldConstructor(views.html.bootstrap.input.f), null)

	@select(
		field = editForm("parent"),
		options = grandEvents.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.grand.event",
		'class -> "form-control",
		'_default -> Messages("label.none.selected")
	)(FieldConstructor(views.html.bootstrap.field.f), null)

	@textarea(
		field = editForm("description"),
		args = 'rows -> 3, 'cols -> 50,
		'_label -> "label.description"
	)(FieldConstructor(views.html.bootstrap.textarea.f), null)

	@inputText(
		field = editForm("additionalInfoLink"),
		'_label -> "label.additional.info.link"
	)(FieldConstructor(views.html.bootstrap.input.f), null)

	@inputText(
		field = editForm("postReleaseLink"),
		'_label -> "label.post.release.link"
	)(FieldConstructor(views.html.bootstrap.input.f), null)

	@select(
		field = editForm("tags"),
		options = tags.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.tags",
		'multiple -> true,
		'class -> "form-control"
	)(FieldConstructor(views.html.bootstrap.field.f), null)

	@select(
		field = editForm("organizations"),
		options = organizations.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.organizations",
		'multiple -> true,
		'class -> "form-control"
	)(FieldConstructor(views.html.bootstrap.field.f), null)

	@select(
		field = coordsForm("country"),
		options = Seq.empty[(String, String)],
		'_label -> "label.country",
		'class -> "form-control",
		'_default -> Messages("label.none.selected"),
		Symbol("data-bind") -> ("options: availableCountries, " +
			"optionsText: function(item) {return item.name + ' (" + Messages("label.country.with.cities.count") + ": ' + item.cities.length + ')'}, " + 
			"optionsValue: 'id', " + 
			"value: selectedCountry, " +
			"optionsCaption: '" + Messages("label.none.selected") + "', " +
			"multiselect: true")
	)(FieldConstructor(views.html.bootstrap.field.f), null)

	@select(
		field = coordsForm("city"),
		options = Seq.empty[(String, String)],
		'_label -> "label.city",
		'class -> "form-control",
		'_default -> Messages("label.none.selected"),
		'dataBind -> "visible: selectedCountry",
		Symbol("data-bind") -> ("options: availableCities, "+
			"optionsText: 'name', " +
			"optionsValue: 'id', " +
			"value: selectedCity, " +
			"optionsCaption: '" + Messages("label.none.selected") + "', " +
			"multiselect: true")
	)(FieldConstructor(views.html.bootstrap.field.f), null)

	<br /><br />
	<div id="map" style="width: 100%; height: 400px;"></div>

	<br /><br />
	<div id='calendar'></div>

	<br /><br />
	@_submit(if(event != null) {"label.save"} else {"label.create"})

}

}