@(events: Map[utils.DatesInterval, List[models.event.Event]],
	startDate: java.time.LocalDate,
	endDate: java.time.LocalDate,
	lang: Lang)

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.DeadboltViewSupport._
@import be.objectify.deadbolt.java.views.html._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@isBlank(str: String) = @{
	var rp = "\\s+".r;
	str match {
		case null | "" | rp() => true
		case _ => false
	}
}

@makeProfileLink(profile: String, name: String) = @{
	val vkReg = "http(s)?://vk.com/([\\w\\d_]+)".r;
	profile match {
		case vkReg(s,id) => s"@$id" + (if(name != null && !name.isEmpty) " (" + name + ")" else "")
		case _ => profile + (if(name != null && !name.isEmpty) ", " + name else "")
	}
}

@constructContactInfo(name: String, phone: String, profileLink: String) = @{
	var contact: String = null;
	if(isBlank(phone) && isBlank(profileLink)) {
		// do nothing. it's useless to give only name
	} else if(!isBlank(phone) && isBlank(profileLink)) {
		contact = phone;
		if(!isBlank(name)) {
			contact = name + ", " + contact;
		}
	} else {
		// not blank profile!
		contact = makeProfileLink(profileLink, name);
		if(!isBlank(phone)) {
			contact += ", " + phone;
		}
	}
	contact
}

@ddMMMM = @{java.time.format.DateTimeFormatter.ofPattern("dd MMMM", lang.toLocale)}
@dd = @{java.time.format.DateTimeFormatter.ofPattern("dd")}

@main(
	"nav.event.export.vk",
	breadcrumbs = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list,
		"nav.event.export.vk" -> routes.EventController.exportEvents
	)
) {
<div class="well well-sm">
Эко-события на
@if(startDate.equals(endDate)) {
	@ddMMMM.format(startDate)
} else {
	@if(startDate.getMonthValue() == endDate.getMonthValue()) {
		@dd.format(startDate) - @ddMMMM.format(endDate)
	} else {
		@ddMMMM.format(startDate) - @ddMMMM.format(endDate)
	}
}
.
<br /><br />

@for((interval, list) <- events) {
	@for(e <- list) {
		*
		@if(interval.from.equals(interval.till)) {
			@ddMMMM.format(interval.from),
			@Messages("label.week.day." + interval.from.getDayOfWeek),
			@Formatters.print(e.startTime) - @Formatters.print(e.endTime)
		} else {
			@if(interval.from.getMonthValue() == interval.till.getMonthValue()) {
				@dd.format(interval.from) - @ddMMMM.format(interval.till)
			} else {
				@ddMMMM.format(interval.from) - @ddMMMM.format(interval.till)
			}
			, @Messages("label.week.day." + interval.from.getDayOfWeek) -
			@Messages("label.week.day." + interval.till.getDayOfWeek)
		}
		<br />
		@e.name
		<br />
		@e.description
		<br />
		@if(e.additionalInfoLink != null && !e.additionalInfoLink.isEmpty) {
			Подробнее: <a href="@e.additionalInfoLink" target="_blank">@e.additionalInfoLink</a>
			<br />
		}
		@{
			var contact : String = null;
			if(e.useAuthorContactInfo != null && e.useAuthorContactInfo) {
				contact = constructContactInfo(e.author.name, e.author.phone, e.author.profileLink);
			} else {
				contact = constructContactInfo(e.contactName, e.contactPhone, e.contactProfile);
			}
			if(contact != null) {
				play.twirl.api.Html(Messages("label.event.contact.info", contact) + "<br />")
			}
		}
		<br />
	}
}
</div>

}
