@(tags: List[models.event.tag.EventTag])

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.ViewSupport._
@import views.menu.SystemMenu._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	@_css("stylesheets/tablesorter/theme.bootstrap.css")
	@_js("javascripts/jquery.tablesorter.min.js")
	@_js("javascripts/jquery.tablesorter.pager.min.js")
	@_js("javascripts/jquery.tablesorter.widgets.min.js")
	@_js("javascripts/tables.js")
}

@main(
	"nav.event.tag.list",
	breadcrumbs = LinkedHashMap(
		"nav.event.tag.list" -> routes.EventTagController.list
	)
) {

@if(!tags.isEmpty) {
	<table class="table table-striped js-tablesorter">
		<thead>
			<th>@Messages("label.name")</th>
			<th>@Messages("label.event.count")</th>
			<th>@Messages("label.grand.event.count")</th>
			<th class="sorter-false filter-false">@Messages("label.action")</th>
		</thead>
		<tbody>
			@for(tag <- tags) {
				<tr>
					<td>@tag.name</td>
					<td>@if(tag.events != null) {@tag.events.size} else {0}</td>
					<td>@if(tag.grandEvents != null) {@tag.grandEvents.size} else {0}</td>
					<td>
						<a class="btn btn-default btn-xs" href='@{routes.EventTagController.edit(tag)}' title="@Messages("label.do.edit")">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
								data-action="remove"
								data-method="POST"
								data-url="@routes.EventTagController.remove(tag)"
								data-confirm="@Messages("label.are.you.sure.you.want.to.delete", tag.name)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			@_tablePager(columns = 4)
		</tfoot>
	</table>
} else {
	@_foundNoneOf(classOf[models.event.tag.EventTag])
}
	
	@_btn(routes.EventTagController.add, "label.do.add")
	
}
