@(events: List[models.event.Event],
	intervalForm: play.data.Form[_]
)

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.ViewSupport._
@import be.objectify.deadbolt.java.views.html._
@import views.menu.EventMenu._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	@_cssWebJars("bootstrap-datepicker3.css")
	@_css("lib/select2/select2.css")
	@_css("lib/select2/select2-bootstrap.css")
	@_css("stylesheets/tablesorter/theme.bootstrap.css")
	@_js("lib/select2/select2.min.js")
	@_js("lib/select2/select2_locale_ru.js")
	@_js("javascripts/jquery.tablesorter.min.js")
	@_js("javascripts/jquery.tablesorter.pager.min.js")
	@_js("javascripts/jquery.tablesorter.widgets.min.js")
	@_js("javascripts/tablesorter/widget-columnSelector.js")
	@_js("javascripts/tables.js")
	@_js("javascripts/events.js")
	@_js("lib/knockout/knockout.js")
	@_js("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")
	@_js("lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js")
	
	<script>
	$(function() {
		$('#datepicker').datepicker({
			format : "dd.mm.yyyy",
			todayBtn : "linked",
			language : "ru",
			autoclose : true,
			todayHighlight : true
		});
	});
	var ids = [@play.twirl.api.Html(events.map("\"" + _.id + "\"").mkString(","))];
	</script>
}

@main(
	"nav.event.list",
	breadcrumbs = LinkedHashMap(
		"nav.event.list" -> routes.EventController.list
	)
) {

<div class="form-group well well-sm">
	<button class="checkbox-toggle btn btn-default" title="Выделить / Снять выделение" data-bind="click: toggleAll"><span class="glyphicon glyphicon-unchecked" data-bind="css: {'glyphicon-check': allSelected(), 'glyphicon-unchecked': !allSelected()}"></span></button>
	<button class="column-selector btn btn-default" title="@Messages("label.choose.columns")"><span class="glyphicon glyphicon-pushpin"></span></button>
	<button class="remove btn btn-danger" title="@Messages("label.do.remove")" data-bind="visible: selectedEvents().length > 0, click: remove"><span class="glyphicon glyphicon-trash"></span></button>
	<button class="export btn btn-info" title="@Messages("label.event.do.export.for.social.networks")" data-bind="visible: selectedEvents().length > 0, click: exportEvents"><span class="glyphicon glyphicon-export"></span></button>
	@helper.form(
			routes.EventController.doChangeInterval,
			'class -> "form-horizontal form-group form-inline",
			'style -> "display: inline"
			) {
		<span class="input-daterange input-group col-md-6" id="datepicker">
			<span class="input-group-addon" style="border-left-width: 1px">@Messages("label.filter.since")</span>
			<input type="text" class="input-sm form-control" name="from" value="@intervalForm("from").value" />
			<span class="input-group-addon">@Messages("label.till")</span>
			<input type="text" class="input-sm form-control" name="till" value="@intervalForm("till").value" />
			<span class="input-group-btn">
				<button class="btn btn-default btn-sm" type="submit">@Messages("label.do.apply")</button>
			</span>
		</span>
	}
</div>

@helper.form(
	routes.EventController.exportEvents,
	'id -> "exportForm"
) {
<table class="events table table-striped js-tablesorter">
	<thead>
		<th class="sorter-false filter-false columnSelector-disable"></th>
		<th>@Messages("label.name")</th>
		<th>@Messages("label.start.date")</th>
		<th>@Messages("label.finish.date")</th>
		<th>@Messages("label.author")</th>
		@*<th>@Messages("label.grand.event")</th>*@
		<th>@Messages("label.city")</th>
		<th>@Messages("label.organizations")</th>
		<th>@Messages("label.tags")</th>
		<th class="sorter-false filter-false">@Messages("label.action")</th>
	</thead>
	<tbody>
		@for(e <- events) {
			<tr data-id="@e.id">
				<td><input type="checkbox" name="events[]" value="@e.id" data-bind="checked: selectedEvents"></td>
				<td>@e.name</td>
				<td>@Formatters.print(e.start)</td>
				<td>@Formatters.print(e.finish)</td>
				<td>
					<a href="@routes.UserController.details(e.author)">@e.author.name</a>
				</td>
				@*
				<td>
					@if(e.parent != null) {
						<a href="@routes.GrandEventController.details(e.parent)">@e.parent.name</a>
					}
				</td>
				*@
				<td>@e.city.name</td>
				<td>
					@Html(e.organizations.map(o => "<a href=\"" + routes.OrganizationController.details(o) + "\">" + o.name + "</a>").mkString(", "))
				</td>
				<td>
					@Html(e.tags.map("<a href=\"javascript:void(0);\" onclick=\"alert(\'What should be shown after click on tag?\')\">" + _.name + "</a>").mkString(", "))
				</td>
				<td>
					<a class="btn btn-default btn-xs" href='@{routes.EventController.edit(e)}' title="@Messages("label.do.edit")">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
			</tr>
		}
	</tbody>
	<tfoot>
		@_tablePager(columns = 10)
	</tfoot>
</table>
}

@subjectPresent() {
	@_btn(routes.EventController.add, "label.do.add")
}
	
}
