@(settings: Map[String, models.sys.Setting])

@import helpers.BootstrapHelper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@main(
	"nav.sys.settings",
	breadcrumbs = LinkedHashMap(
		"nav.sys.settings" -> routes.SettingController.edit
	)
) {

@form(routes.SettingController.doEdit()) {

	@for(set <- models.sys.SettingName.values if set.isEditable) {
		<div class="form-group">
			<label class="col-lg-2 control-label" for="@set.name">@Messages("label.setting." + set.name).capitalize</label>
			<div class="col-lg-10">
				<input type="text" placeholder="@Messages("label.setting." + set.name).capitalize" value="@{val s = settings.get(set.name); if(s != null) {s.value}}" name="@set.name" id="@set.name" class="form-control" />
			</div>
		</div>
	}

	@_submit("label.save")
}

}