@(editForm: play.data.Form[models.user.User],
	editUser: models.user.User)

@import helpers.BootstrapHelper._
@import scala.collection.mutable.LinkedHashMap
@import play.libs.Json
@import views.menu.SystemMenu._

@implicitScripts = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrapValidator.min.css")" />
	<link href="@routes.Assets.at("lib/bootstrap-datepicker/css/datepicker3.css")" rel="stylesheet">
	<script type="text/javascript" src="@routes.Assets.at("lib/knockout/knockout.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/users.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrapValidator.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js")"></script>
	<script>
		$(document).ready(function() {
			$("form.form-horizontal").bootstrapValidator($.extend({}, app.settings.bootstrapValidator, {
				excluded: [':disabled', function($field, validator) {
				    return !$field.is(':visible') && !$field.is("select#roles");
				}]
			}));

		});
	</script>
}

@main(
	if(editForm("id").value != null)
		"nav.user.edit"
	else
		"nav.user.create",
	breadcrumbs = LinkedHashMap(
		"nav.user.list" -> routes.UserController.list,
		if (editUser != null)
			editUser.somename -> routes.UserController.edit(editUser.id)
		else
			"nav.user.create" -> routes.UserController.create
	)
) {

@form(if(editForm("id").value != null) routes.UserController.doEdit(editForm("id").value.toLong) else routes.UserController.doCreate) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(editForm("id").value != null) {
		<input type="hidden" name="id" value="@editForm("id").value" />
		@_staticFormField("label.last.login.time", editForm("lastLogin").value)
	}

	@checkbox(
		field = editForm("blocked"),
		'_text -> Messages("label.status.blocked")
	)

	@inputText(
		field = editForm("email"),
		'_label -> "label.email",
		'help -> "label.user.email.tip"
	)

	@inputText(
		field = editForm("nick"),
		'_label -> "label.nick",
		'help -> "label.user.nick.tip"
	)

	@select(
		field = editForm("roles"),
		'options -> models.user.RoleName.asList().map(a => a -> Messages("label.roles." + a)).toSeq,
		'_label -> "label.roles",
		'multiple -> true,
		'required -> true
	)

	@inputText(
		field = editForm("name"),
		'_label -> "label.name",
		'help -> "label.user.name.and.phone.tip"
	)

	@inputText(
		field = editForm("phone"),
		'_label -> "label.phone",
		'help -> "label.user.name.and.phone.tip"
	)

	@inputText(
		field = editForm("profileLink"),
		'_label -> "label.profile",
		'help -> "label.profile.tip"
	)

	@textarea(
		field = editForm("note"),
		args = 'rows -> 3, 'cols -> 50,
		'_label -> "label.note",
		'help -> "label.user.note.tip"
	)

	@_submit(if(editForm("id").value != null) "label.save" else "label.create")

}

}