@(editForm: play.data.Form[controllers.UserController.UserProperties],
	editUser: models.user.User)

@import helpers.BootstrapHelper._
@import scala.collection.mutable.LinkedHashMap
@import play.libs.Json
@import views.menu.SystemMenu._

@implicitScripts = {
	@_css("stylesheets/bootstrapValidator.css")
	@_css("lib/bootstrap-datepicker/css/datepicker3.css")
	@_js("lib/knockout/knockout.js")
	@_js("javascripts/users.js")
	@_js("javascripts/bootstrapValidator.js")
	@_js("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")
	@_js("lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js")
	<script>
		$(document).ready(function() {
			$("form.form-horizontal").bootstrapValidator($.extend({}, app.settings.bootstrapValidator, {
				excluded: [':disabled', function(field, validator) {
					// check parent since the select itself of multiselect is normally hidden
				    return field.parent().is(":not(:visible)");
				}]
			}));

		});
	</script>
}

@main(
	if(editUser != null)
		"nav.user.edit"
	else
		"nav.user.add",
	breadcrumbs = LinkedHashMap(
		"nav.user.list" -> routes.UserController.list,
		if (editUser != null)
			editUser.somename -> routes.UserController.edit(editUser)
		else
			"nav.user.add" -> routes.UserController.add
	)
) {

@form(
	if(editUser != null)
		routes.UserController.doEdit(editUser)
	else
		routes.UserController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(editUser != null) {
		@* id is needed for User.validate() *@
		<input type="hidden" name="id" value="@editUser.id" />
	}

	@checkbox(
		field = editForm("blocked"),
		'_text -> Messages("label.status.blocked")
	)

	@checkbox(
		field = editForm("emailValidated"),
		'_text -> Messages("label.email.verivied")
	)

	@inputText(
		field = editForm("email"),
		'_label -> "label.email",
		'help -> "label.user.email.tip"
	)

	@select(
		field = editForm("roles"),
		'options -> models.user.RoleName.asList().map(a => a -> Messages("label.roles." + a)).toSeq,
		'_label -> "label.roles",
		'multiple -> true,
		'required -> true
	)

	@inputText(
		field = editForm("name"),
		'_label -> "label.name",
		'help -> "label.user.name.and.phone.tip"
	)

	@inputText(
		field = editForm("phone"),
		'_label -> "label.phone",
		'help -> "label.user.name.and.phone.tip"
	)

	@inputText(
		field = editForm("profileLink"),
		'_label -> "label.profile",
		'help -> "label.profile.tip"
	)

	@_submit(if(editUser != null) "label.save" else "label.add")

}

}