@(users: List[models.user.User])

@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@implicitScripts = {
	@_css("lib/select2/select2.css")
	@_css("lib/select2/select2-bootstrap.css")
	@_css("stylesheets/tablesorter/theme.bootstrap.css")
	@_js("lib/select2/select2.min.js")
	@_js("lib/select2/select2_locale_ru.js")
	@_js("javascripts/jquery.tablesorter.min.js")
	@_js("javascripts/jquery.tablesorter.pager.min.js")
	@_js("javascripts/jquery.tablesorter.widgets.min.js")
	@_js("javascripts/jquery.tablesorter.widgets-filter-formatter-select2.js")
	@_js("javascripts/tablesorter/widget-columnSelector.js")
	@_js("javascripts/tables.js")
}

@main(
	"nav.user.list"
) {

@if(!users.isEmpty) {
	<button class="column-selector btn btn-default">@Messages("label.choose.columns")</button>
	<br /><br />
	<table class="table table-striped js-tablesorter">
		<thead>
			<th class="unselectable">@Messages("label.name")</th>
			<th>@Messages("label.email")</th>
			<th class="filter-select filter-exact" data-placeholder="@Messages("label.user.status.blocked.no.matter")">@Messages("label.status.blocked")</th>
			<th class="filter-select filter-exact" data-placeholder="@Messages("label.user.all.roles")">@Messages("label.roles")</th>
			<th class="sorter-false filter-false unselectable">@Messages("label.action")</th>
		</thead>
		<tbody>
			@for(user <- users) {
				<tr>
					<td>@user.name</td>
					<td>@user.email</td>
					<td>@Messages(if(user.blocked) "label.yes" else "label.no")</td>
					<td>@user.roles.map{ role => @Messages("label.roles." + role)}.mkString(",")</td>
					<td>
						<a class="btn btn-default btn-xs" href='@{routes.UserController.edit(user)}' title="@Messages("label.do.edit")">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-xs" href='@{routes.UserController.changePassword(user)}' title="@Messages("label.do.change.password")">
							<span class="glyphicon glyphicon-asterisk"></span>
						</a>
						<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
								data-action="remove"
								data-method="POST"
								data-url="@routes.UserController.remove(user)"
								data-confirm="@Messages("label.are.you.sure.you.want.to.delete", user.somename)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			@_tablePager(6)
		</tfoot>
	</table>
} else {
	@_foundNoneOf(classOf[models.user.User])
}

	<a href="@routes.UserController.add" class="btn btn-primary">@Messages("label.do.add")</a>

}
