@(editForm: play.data.Form[models.organization.Organization],
	org: models.organization.Organization)

@import helper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@main(
	if(org != null)
		"nav.organization.edit"
	else
		"nav.organization.create",
	breadcrumbs = LinkedHashMap(
		"nav.organization.list" -> routes.OrganizationController.list,
		if (org != null) editForm("name").value -> routes.OrganizationController.edit(org.id)
		else "nav.organization.create" -> routes.OrganizationController.create
	)
) {

@helper.form(if(org != null) routes.OrganizationController.doEdit(org.id) else routes.OrganizationController.doCreate, 'class -> "form-horizontal") {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(org != null) {
		@_staticFormField("label.event.count", org.events.size)
		@_staticFormField("label.grand.event.count", org.grandEvents.size)
	}

	@inputText(
		field = editForm("name"),
		'_label -> "label.name"
	)(FieldConstructor(views.html.bootstrap.input.f), null)

	@textarea(
		field = editForm("description"),
		args = 'rows -> 3, 'cols -> 50,
		'_label -> "label.description"
	)(FieldConstructor(views.html.bootstrap.textarea.f), null)

	@_submit(if(org != null) "label.save" else "label.create")
}

}