@(orgs: List[models.organization.Organization])

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.DeadboltViewSupport._
@import scala.collection.JavaConversions._
@import views.menu.SystemMenu._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	@_css("stylesheets/tablesorter/theme.bootstrap.css")
	@_js("javascripts/jquery.tablesorter.min.js")
	@_js("javascripts/jquery.tablesorter.pager.min.js")
	@_js("javascripts/jquery.tablesorter.widgets.min.js")
	@_js("javascripts/tables.js")
	@_css("lib/select2/select2.css")
	@_css("lib/select2/select2-bootstrap.css")
	@_js("lib/select2/select2.min.js")
	@_js("lib/select2/select2_locale_ru.js")
	@_js("javascripts/tablesorter/widget-columnSelector.js")
}

@main(
	"nav.organization.list",
	breadcrumbs = LinkedHashMap(
		"nav.organization.list" -> routes.OrganizationController.list
	)
) {

@if(!orgs.isEmpty) {
	<button class="column-selector btn btn-default">@Messages("label.choose.columns")</button>
	<br /><br />
	<table class="table table-striped js-tablesorter">
		<thead>
			<th>@Messages("label.name")</th>
			<th>@Messages("label.event.count")</th>
			<th>@Messages("label.grand.event.count")</th>
			<th>@Messages("label.description")</th>
			<th class="sorter-false filter-false">@Messages("label.action")</th>
		</thead>
		<tbody>
			@for(org <- orgs) {
				<tr>
					<td>@org.name</td>
					<td>@org.events.size</td>
					<td>@org.grandEvents.size</td>
					<td>@org.description</td>
					<td>
						<a class="btn btn-default btn-xs" href='@{routes.OrganizationController.details(org)}' title="@Messages("label.do.view")">
							<span class="glyphicon glyphicon-eye-open"></span>
						</a>
						<a class="btn btn-default btn-xs" href='@{routes.OrganizationController.edit(org)}' title="@Messages("label.do.edit")">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
								data-action="remove"
								data-method="POST"
								data-url="@routes.OrganizationController.remove(org)"
								data-confirm="@Messages("label.are.you.sure.you.want.to.delete", org.name)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			@_tablePager(columns = 5)
		</tfoot>
	</table>
} else {
	@_foundNoneOf(classOf[models.organization.Organization])
}
	
	@_btn(routes.OrganizationController.add, "label.do.add")
	
}
