@(tags: List[models.organization.tag.OrganizationTag])

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.DeadboltViewSupport._
@import scala.collection.JavaConversions._

@user = @{
	ctx.args.get("user").asInstanceOf[models.user.User]
}

@implicitScripts = {
	<link href="@routes.Assets.at("stylesheets/tablesorter/theme.bootstrap.css")" rel="stylesheet">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.pager.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.widgets.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/tables.js")"></script>
}

@main(
	"nav.organization.tag.list",
	leftNav = LinkedHashMap(
		"nav.organization.tag.list" -> routes.OrganizationTagController.list
	),
	breadcrumbs = LinkedHashMap(
		"nav.organization.tag.list" -> routes.OrganizationTagController.list
	)
) {

@if(!tags.isEmpty) {
	<table class="table table-striped js-tablesorter">
		<thead>
			<th>@Messages("label.name")</th>
			<th>@Messages("label.organization.count")</th>
			<th>@Messages("label.event.count")</th>
			<th>@Messages("label.grand.event.count")</th>
			<th class="sorter-false filter-false">@Messages("label.action")</th>
		</thead>
		<tbody>
			@for(tag <- tags) {
				<tr>
					<td>@tag.name</td>
					<td>@tag.organizations.size</td>
					<td>@tag.organizations.flatMap(_.events).toSet.size</td>
					<td>@tag.organizations.flatMap(_.grandEvents).toSet.size</td>
					<td>
						<a class="btn btn-default btn-xs" href='@{routes.OrganizationTagController.edit(tag.id)}' title="@Messages("label.do.edit")">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
								data-action="remove"
								data-method="POST"
								data-url="@routes.OrganizationTagController.remove(tag.id)"
								data-confirm="@Messages("label.are.you.sure.you.want.to.delete", tag.name)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			@_tablePager(columns = 5)
		</tfoot>
	</table>
} else {
	@_foundNoneOf(classOf[models.organization.tag.OrganizationTag])
}
	
	@_btn(routes.OrganizationTagController.create, "label.do.create")
	
}
