@(resetForm: play.data.Form[controllers.Signup.PasswordReset])

@import helper._
@import helpers.BootstrapHelper._

@main("playauthenticate.password.reset.title") {

	<p>
	@form(routes.Signup.doResetPassword) {

		@if(resetForm.hasGlobalErrors) { 
			<div class="alert alert-danger">@resetForm.globalError.message</div>
		}

		@input(
			resetForm("token"),
			'_label -> "",
			'_showConstraints -> false
		) { (id, name, value, args) =>
			<input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
		}

		@_passwordPartial(resetForm)

		<input type="submit" value="@Messages("playauthenticate.password.reset.cta")" class="btn btn-primary"> 
	}
	</p>
}