@(emailForm: play.data.Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@main(
	"playauthenticate.password.forgot.title",
	breadcrumbs = collection.Map(
		"playauthenticate.password.forgot.title" -> routes.Signup.forgotPassword(emailForm("email").value)
	)
) {

@form(routes.Signup.doForgotPassword) {

	@if(emailForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@emailForm.globalError.message</div>
	}

	@_emailPartial(emailForm)

	@_submit("playauthenticate.password.forgot.cta")
}

}