@(editForm: play.data.Form[models.standardPage.StandardPage],
	files: List[models.file.UploadedFile])

@import helpers.BootstrapHelper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@implicitScripts = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/summernote.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/summernote-bs3.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")" />
	<script type="text/javascript" src="@routes.Assets.at("javascripts/addFile.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/summernote.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/summernote-ru-RU.js")"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#description').summernote({lang: "ru-RU"});
		});
	</script>
}

@main(
	if(editForm("id").value != null) "nav.stdPage.edit" else "nav.stdPage.create",
	breadcrumbs = LinkedHashMap(
		"nav.stdPage.list" -> routes.StandardPageController.list,
		if (editForm("id").value != null) editForm("title").value -> routes.StandardPageController.edit(editForm("id").value.toLong)
		else "nav.stdPage.create" -> routes.StandardPageController.create
	)
) {

@form(if(editForm("id").value != null) routes.StandardPageController.doEdit(editForm("id").value.toLong) else routes.StandardPageController.doCreate) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(editForm("id").value != null) {
		@checkbox(
			field = editForm("disabled"),
			'_text -> "label.stdPage.is.disabled"
		)
	}

	@inputText(
		field = editForm("title"),
		'_label -> "label.title"
	)

	@inputText(
		field = editForm("link"),
		'_label -> "label.link"
	)

	@textarea(
		field = editForm("description"),
		args = 'rows -> 3, 'cols -> 50,
		'_label -> "label.description",
		'required -> true
	)

	@select(
		field = editForm("attachments"),
		'options -> files.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.file.files",
		'multiple -> true
	)

	@_submit(if(editForm("id").value != null) "label.save" else "label.create")

}

}