@(editForm: play.data.Form[controllers.StandardPageController.StandardPageProperties],
	page: models.standardPage.StandardPage)

@import helpers.BootstrapHelper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._

@implicitScripts = {
	@_css("stylesheets/summernote.css")
	@_css("stylesheets/summernote-bs3.css")
	@_css("lib/font-awesome/css/font-awesome.min.css")
	@_js("javascripts/addFile.js")
	@_js("javascripts/summernote.min.js")
	@_js("javascripts/summernote-ru-RU.js")
	<script type="text/javascript">
		$(document).ready(function() {
			$('#description').summernote({lang: "ru-RU"});
		});
	</script>
}

@main(
	if(page != null) "nav.stdPage.edit" else "nav.stdPage.add",
	breadcrumbs = LinkedHashMap(
		"nav.stdPage.list" -> routes.StandardPageController.list,
		if (page != null) editForm("title").value -> routes.StandardPageController.edit(page)
		else "nav.stdPage.add" -> routes.StandardPageController.add
	)
) {

@form(if(page != null) routes.StandardPageController.doEdit(page) else routes.StandardPageController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(page != null) {
		@checkbox(
			field = editForm("disabled"),
			'_text -> "label.stdPage.is.disabled"
		)
	}

	@inputText(
		field = editForm("title"),
		'_label -> "label.title"
	)

	@inputText(
		field = editForm("link"),
		'_label -> "label.link"
	)

	@textarea(
		field = editForm("description"),
		args = 'rows -> 3, 'cols -> 50,
		'_label -> "label.description"
	)

	@_submit(if(page != null) "label.save" else "label.create")

}

}