@(homePage: models.standardPage.HomePage,
	news: List[models.blog.BlogPost])

@import scala.collection.mutable.LinkedHashMap

@portalTitle = @{models.sys.Setting.get(models.sys.SettingName.PORTAL_TITLE).value}

@main(
	homePage.title,
	leftNav = {
		val ln = LinkedHashMap[String, Any]()
		for(page <- ctx.args.get("stdPages").asInstanceOf[List[models.standardPage.StandardPage]]) {
			ln.put(page.title, page.reallink);
		}
		ln
	}
) {

<div>
@play.twirl.api.Html(homePage.body)
</div>

@if(homePage.attachments != null && !homePage.attachments.isEmpty) {
	<div>
		@for(attachment <- homePage.attachments) {
			@if(attachment.isImage) {
				<img src="@routes.FileController.get(attachment)" />
			} else {
				<a href="@routes.FileController.get(attachment)">@attachment.name</a>
			}
			<br />
		}
	</div>
}

@if(news != null && !news.isEmpty) {
	<div class="row">
	@for(post <- news) {
		<div class="col-6 col-sm-6 col-lg-4">
			<h4><a href="@routes.BlogController.list#post_@post.id">@post.title</a></h4>
			<p>@post.content.split(" ").take(15).mkString(" ")&hellip;</p>
		</div>
	}
	</div>
}

}