@(standardPages: List[models.standardPage.StandardPage])

@import scala.collection.mutable.LinkedHashMap; var disabledExist=false
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.ViewSupport._
@import views.menu.SystemMenu._

@implicitScripts = {
	@_js("javascripts/jquery-sortable-min.js")
	@_js("javascripts/legend.js")
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sorted-table').sortable({
			    containerSelector: 'table',
			    handle: '.glyphicon-move',
			    itemPath: '> tbody',
			    itemSelector: 'tr',
			    placeholder: '<tr class="placeholder"/>',
			    onDrop: function(item, container, _super, event) {
			    	_super(item);
			    	var id = item.data("id");
				    var by = item.index() - item.data("from");
			        if (by === 0) return;
			        $.post("/stdPage/move/" + id + "/by/" + by)
			        	.done(function() { location.reload(); });
			    },
			    onDragStart: function(item, container, _super, event) {
			    	_super(item);
			        item.data("from", item.index());
			    }
			});
		});
	</script>
}

@main(
	"nav.stdPage.list"
) {

@if(!standardPages.isEmpty) {
	<table class="table table-striped sorted-table">
		<thead>
			<th>@Messages("label.item.number")</th>
			<th>@Messages("label.name")</th>
			<th>@Messages("label.link")</th>
			<th>@Messages("label.file.files")</th>
			<th>@Messages("label.action")</th>
		</thead>
		<tbody>
			@for(page <- standardPages) {
				<tr class="@if(page.disabled){@{disabledExist = true}alert-brown}" data-id="@page.id">
					<td>
						<span class="glyphicon glyphicon-move"></span>
						@page.orderInd
					</td>
					<td>@page.title</td>
					<td>@page.link</td>
					<td>@page.attachments.size</td>
					<td>
						<a class="btn btn-default btn-xs" href='@{routes.StandardPageController.edit(page)}' title="@Messages("label.do.edit")">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-xs js-ajax" title="@Messages("label.do.remove")"
								data-action="remove"
								data-method="POST"
								data-url="@routes.StandardPageController.remove(page)"
								data-confirm="@Messages("label.are.you.sure.you.want.to.delete", page.title)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
} else {
	@_foundNoneOf(classOf[models.standardPage.StandardPage])
}

@restrict(la(as("admin"))) {
	@_btn(routes.StandardPageController.add, "label.do.add")
}

@_legend(Seq(
	(disabledExist, "brown", "label.stdPage.page.is.disabled")
))

}
