@(page: models.standardPage.StandardPage)

@import scala.collection.mutable.LinkedHashMap
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.DeadboltViewSupport._

@main(
	page.title,
	leftNav = {
		val ln = LinkedHashMap[String, Any]()
		for(page <- ctx.args.get("stdPages").asInstanceOf[List[models.standardPage.StandardPage]]) {
			ln.put(page.title, page.reallink);
		}
		ln
	},
	breadcrumbs = LinkedHashMap(
		page.title -> page.reallink
	)
) {

<div>
	@if(page.description == null || page.description.isEmpty) {
		@Messages("label.no.content")
	} else {
		@play.twirl.api.Html(page.description)
	}
</div>

@if(!page.attachments.isEmpty) {
	<div>
		@for(attachment <- page.attachments) {
			@if(attachment.isImage) {
				<img src="@routes.FileController.get(attachment)" />
			} else {
				<a href="@routes.FileController.get(attachment)">@attachment.name</a>
			}
			<br />
		}
	</div>
}

}
