@(page: models.standardPage.StandardPage)

@import scala.collection.mutable.LinkedHashMap; var disabledExist=false
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.ViewSupport._

@main(
	page.title,
	leftNav = {
		val ln = LinkedHashMap[String, Any]()
		for(page <- ctx.args.get("stdPages").asInstanceOf[List[models.standardPage.StandardPage]]) {
			ln.put(page.title, page.reallink);
		}
		ln
	},
	breadcrumbs = LinkedHashMap(
		page.title -> page.reallink
	)
) {

	<div class="row">
		@if(page.content == null || page.content.isEmpty) {@Messages("label.no.content")} else {@Html(page.content)}
	</div>
	
	@if(!page.attachments.isEmpty) {
		<div class="row">
			@for(attachment <- page.attachments) {
				@if(attachment.isImage) {
					<img src="@routes.FileController.get(attachment)" />
				} else {
					<a href="@routes.FileController.get(attachment)">@attachment.name</a>
				}
				<br />
			}
		</div>
	}

}

