@(editForm: play.data.Form[controllers.CityController.CityProps],
	city: models.geo.City,
	countries: List[models.geo.Country])

@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._
@import helpers.BootstrapHelper._

@implicitScripts = {
	@_js("javascripts/geoObjectSetupForm.js")
	@_maps()
	<script>
		var initialLatitude = @{if(city != null) city.centerLatitude else "0"};
		var initialLongitude = @{if(city != null) city.centerLongitude else "0"};
		var initialZoom = @{if(city != null) city.defaultZoom else "0"};
	</script>
}

@main(
	if(city != null)
		"nav.geo.city.edit"
	else
		"nav.geo.city.add",
	breadcrumbs = LinkedHashMap(
		"nav.geo.city.list" -> routes.CityController.list,
		if (city != null) editForm("name").value -> routes.CityController.edit(city)
		else "nav.geo.city.add" -> routes.CityController.add
	)
) {

@form(if(city != null) routes.CityController.doEdit(city) else routes.CityController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@select(
		field = editForm("country"),
		'options -> countries.map(a => a.id.toString -> a.name).toSeq,
		'_label -> "label.country"
	)

	@inputText(
		field = editForm("name"),
		'_label -> "label.name"
	)

	@inputText(
		field = editForm("code"),
		'_label -> "label.code",
		'help -> "label.city.country.code.tip"
	)

	@inputText(
		field = editForm("centerLatitude"),
		'_label -> "label.centerLatitude",
		Symbol("data-bind") -> "value: latitude"
	)

	@inputText(
		field = editForm("centerLongitude"),
		'_label -> "label.centerLongitude",
		Symbol("data-bind") -> "value: longitude"
	)

	@inputText(
		field = editForm("defaultZoom"),
		'_label -> "label.defaultZoom",
		Symbol("data-bind") -> "value: zoom"
	)

	@inputText(
		field = editForm("weight"),
		'_label -> "label.weight",
		'help -> Messages("label.city.weight.help")
	)
	
	<div id="map" style="width: 100%; height: 400px;"></div>

	@_submit(if(city != null) "label.save" else "label.add")
}

}