@(editForm: play.data.Form[models.geo.MapEngine],
	engine: models.geo.MapEngine)

@import helper._
@import scala.collection.mutable.LinkedHashMap

@main(
	if(engine != null)
		"nav.geo.map.edit"
	else
		"nav.geo.map.create",
	leftNav = LinkedHashMap(
		"nav.geo.map.list" -> routes.MapEngineController.list
	),
	breadcrumbs = LinkedHashMap(
		"nav.geo.map.list" -> routes.MapEngineController.list,
		if (engine != null) editForm("name").value -> routes.MapEngineController.edit(engine.id)
		else "nav.geo.map.create" -> routes.MapEngineController.create
	)
) {

	<div class="row">

		@helper.form(if(engine != null) routes.MapEngineController.doEdit(engine.id) else routes.MapEngineController.doCreate, 'class -> "form-horizontal") {

			@if(editForm.hasGlobalErrors) { 
				<div class="alert alert-danger">@editForm.globalError.message</div>
			}

			@inputText(
				field = editForm("name"),
				'_label -> "label.name"
			)(FieldConstructor(views.html.bootstrap.input.f), null)

			@inputText(
				field = editForm("url"),
				'_label -> "label.url"
			)(FieldConstructor(views.html.bootstrap.input.f), null)

			<input type="submit" value="@Messages(if(engine != null) {"label.save"} else {"label.create"})" class="btn btn-primary">

		}

	</div>

}