@(editForm: play.data.Form[controllers.CountryController.CountryProps],
	country: models.geo.Country)

@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._
@import helpers.BootstrapHelper._

@implicitScripts = {
	@_js("javascripts/geoObjectSetupForm.js")
	@_maps()
}

@main(
	if(country != null)
		"nav.geo.country.edit"
	else
		"nav.geo.country.add",
	breadcrumbs = LinkedHashMap(
		"nav.geo.country.list" -> routes.CountryController.list,
		if (country != null) editForm("name").value -> routes.CountryController.edit(country)
		else "nav.geo.country.add" -> routes.CountryController.add
	)
) {

@form(if(country != null) routes.CountryController.doEdit(country) else routes.CountryController.doAdd) {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(country != null) {
		@_staticFormField("label.entity.plural.City", country.cities.size)
	}

	@inputText(
		field = editForm("name"),
		'_label -> "label.name",
		'required -> true
	)

	@inputText(
		field = editForm("code"),
		'_label -> "label.code",
		'help -> "label.city.country.code.tip"
	)

	@inputText(
		field = editForm("centerLatitude"),
		'_label -> "label.centerLatitude",
		'required -> true
	)

	@inputText(
		field = editForm("centerLongitude"),
		'_label -> "label.centerLongitude",
		'required -> true
	)

	@inputText(
		field = editForm("defaultZoom"),
		'_label -> "label.defaultZoom",
		'required -> true
	)

	@_submit(if(country != null) "label.save" else "label.add")
}

}