@(editForm: play.data.Form[models.geo.Country],
	country: models.geo.Country)

@import helper._
@import scala.collection.mutable.LinkedHashMap
@import views.menu.SystemMenu._
@import helpers.BootstrapHelper._

@main(
	if(country != null)
		"nav.geo.country.edit"
	else
		"nav.geo.country.create",
	breadcrumbs = LinkedHashMap(
		"nav.geo.country.list" -> routes.CountryController.list,
		if (country != null) editForm("name").value -> routes.CountryController.edit(country.id)
		else "nav.geo.country.create" -> routes.CountryController.create
	)
) {

@helper.form(if(country != null) routes.CountryController.doEdit(country.id) else routes.CountryController.doCreate, 'class -> "form-horizontal") {

	@if(editForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@editForm.globalError.message</div>
	}

	@if(country != null) {
		@_staticFormField("label.entity.plural.City", country.cities.size)
	}

	@views.html.bootstrap.inputText(
		field = editForm("name"),
		'_label -> "label.name",
		'required -> true
	)

	@views.html.bootstrap.inputText(
		field = editForm("centerLatitude"),
		'_label -> "label.centerLatitude",
		'required -> true
	)

	@views.html.bootstrap.inputText(
		field = editForm("centerLongitude"),
		'_label -> "label.centerLongitude",
		'required -> true
	)

	@views.html.bootstrap.inputText(
		field = editForm("defaultZoom"),
		'_label -> "label.defaultZoom",
		'required -> true
	)

	@_submit(if(country != null) "label.save" else "label.create")
}

}