@(changeForm: play.data.Form[controllers.Account.PasswordChange],
	user: models.user.User)

@import scala.collection.mutable.LinkedHashMap
@import helpers.BootstrapHelper._

@main(
	if(user == null) {
		"playauthenticate.change.password.title"
	} else {
		Messages("label.users.ChangePasswordForUser", user.nick)
	},
	breadcrumbs = if(user == null)
		LinkedHashMap(
			"nav.profile" -> routes.UserController.list,
			"nav.profile.password_change" -> routes.Account.changePersonalPassword
		) else
		LinkedHashMap(
			"nav.user.list" -> routes.Account.profile,
			Messages("nav.user.change_password", user.nick) -> routes.UserController.changePassword(user)
		),
	leftNav = if(user == null)
		LinkedHashMap(
			"nav.profile" -> routes.Account.profile,
			"nav.message.list" -> routes.MessageController.list,
			"nav.profile.password_change" -> routes.Account.changePersonalPassword,
			"nav.profile.link_more" -> routes.Account.link
		) else {
			views.menu.SystemMenu.implicitLeftNav
		}
) {

@form(if(user == null) routes.Account.doChangePersonalPassword else routes.UserController.doChangePassword(user)) {

	@if(changeForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@changeForm.globalError.message</div>
	}

	@_passwordPartial(changeForm)

	@_submit("playauthenticate.change.password.cta") 
}

}