@(changeForm: play.data.Form[controllers.Account.PasswordChange],
	user: models.user.User)

@import helper._
@import scala.collection.mutable.LinkedHashMap
@import helpers.BootstrapHelper._

@main(
	if(user == null) {
		"playauthenticate.change.password.title"
	} else {
		Messages("label.users.ChangePasswordForUser", user.nick)
	},
	breadcrumbs = if(user == null)
		LinkedHashMap(
			"nav.profile" -> routes.UserController.list,
			"nav.profile.password_change" -> routes.Account.changePersonalPassword
		) else
		LinkedHashMap(
			"nav.user.list" -> routes.Account.profile,
			Messages("nav.user.change_password", user.nick) -> routes.Account.changePersonalPassword
		),
	leftNav = if(user == null)
		LinkedHashMap(
			"nav.profile" -> routes.Account.profile,
			"nav.message.list" -> routes.MessageController.list,
			"nav.profile.password_change" -> routes.Account.changePersonalPassword,
			"nav.profile.link_more" -> routes.Account.link
		) else
			LinkedHashMap(
				"nav.sys.settings" -> routes.SettingController.edit,
				"nav.homePage.edit" -> routes.HomePageController.edit,
				"nav.user.list" -> routes.UserController.list,
				"nav.file.list" -> routes.FileController.list,
				"nav.stdPage.list" -> routes.StandardPageController.list
			)
) {

@form(if(user == null) {routes.Account.doChangePersonalPassword} else {routes.UserController.doChangePassword(user.id)},
	'class -> "form-horizontal") {

	@if(changeForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@changeForm.globalError.message</div>
	}

	@_passwordPartial(changeForm)

	@_submit("playauthenticate.change.password.cta") 
}

}