@(changeForm: play.data.Form[controllers.Account.PasswordChange])

@import scala.collection.mutable.LinkedHashMap
@import helpers.BootstrapHelper._

@main("playauthenticate.change.password.title",
	breadcrumbs = LinkedHashMap(
			"nav.profile.password_change" -> routes.Account.changePersonalPassword
		),
	leftNav = LinkedHashMap(
			"nav.profile" -> routes.Account.profile,
			"nav.message.list" -> routes.MessageController.list,
			"nav.profile.password_change" -> routes.Account.changePersonalPassword,
			"nav.profile.link_more" -> routes.Account.link
		)
) {

@form(routes.Account.doChangePersonalPassword) {

	@if(changeForm.hasGlobalErrors) { 
		<div class="alert alert-danger">@changeForm.globalError.message</div>
	}

	@_passwordPartial(changeForm)

	@_submit("playauthenticate.change.password.cta") 
}

}